.flex-container {
      display: flex;
      justify-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.subheader-container {
	size: 500px;
	margin-left: 225px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h2 {
      font-size: 36px;
      font-family: "Unica One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      text-align: center;
}


.search-container {
	display: flex;
	align-items: end;
	margin-right: 225px;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 10px;
}

.search-bar {
	display: flex;
	align-items: center;
	margin: 0px;
}

input[type=text]{
	padding: 5px 15px;
	padding-right: 50px;
  	font-family: "Overpass Mono", monospace;
 	font-optical-sizing: auto;
     	font-style: normal;
 	border-radius: 35px;
 	font-size: 16px;
}

input:read-only {
	background-color: lightgray;
}

.searchButton {
	background-color: white;
	border: 0px solid white;
	padding: 5px 5px;
	cursor: pointer;
	width: 40px;
 	border-radius: 20px;
	margin-left: -40px;
}

.searchImage {
	width: 20px;
}



.printButton {
	font-family: "Unica One", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #B15DAB;
	border: 2px solid #B15DAB;
	border-radius: 25px;
	transition-duration: 0.4s;
	width: 80px;
	color: white;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 10px;
}
    
.printButton:hover {
      background-color: #72366d;
      color: white;
}




.table-container {
      display: flex;
      justify-content: center;
	align-items: center;
	flex-direction: column;
}

table {
	color: white;
	background-color: #646EC6;
	border-radius: 20px;
	border-collapse: collapse;
	width: 70%;
}

th {
	font-size: 18px;
	font-family: "Unica One", sans-serif;
      font-weight: 400;
      font-style: normal;
  	padding: 15px;
  	text-align: left;
}

.th-center {
	font-size: 18px;
	font-family: "Unica One", sans-serif;
      font-weight: 400;
      font-style: normal;
	padding: 15px;
  	text-align: center;
}

tr:hover {
	background-color: #7c77cd;
}

td {
	font-size: 14px;
      font-family: "Overpass Mono", monospace;
      font-optical-sizing: auto;
      font-style: normal;
	padding: 7px;
  	text-align: left;
}

.td-button {
  	text-align: left;
	width: 80px;
}

.text-center {
	font-size: 14px;
      font-family: "Overpass Mono", monospace;
      font-optical-sizing: auto;
      font-style: normal;
	padding: 7px;
  	text-align: center;
}

.greenButton {
    background-color: #6A9C89;
    border-radius: 25px;
    transition-duration: 0.4s;
    border: 2px solid #6A9C89;
    width: 80px;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
    
.greenButton:hover {
      background-color: #547c6d;
      color: white;
}

.redButton {
    background-color: #BE5858;
    border-radius: 25px;
    transition-duration: 0.4s;
    border: 2px solid #BE5858;
    width: 80px;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.redButtonTable {
	background-color: #BE5858;
	border-radius: 25px;
	transition-duration: 0.4s;
	border: 2px solid #BE5858;
	width: 80px;
	color: white;
	text-align: center;
	padding: 5px 10px;
	font-family: "Unica One", sans-serif;
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
	margin-left: -5px;
}

.redButton:hover {
      background-color: #984646;
      color: white;
}

.redButtonTable:hover {
      background-color: #984646;
      color: white;
}

.circle-button {
	margin: 0;
	overflow: hidden;
	display: block;
	background-color: white;
	border-radius: 25px;
	transition-duration: 0.4s;
	border: 2px solid white;
	width: 35px;
	height: 35px;
	margin-right: 20px;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	float: left;
}

.circle-button:hover {
	border: 2px solid lightgray;
      background-color: lightgray;
      border-radius: 50px;
}

.circle-button-link {
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	margin-top: -7px;
	margin-left: -8px;
}

.image {
	height: 35px;
}