.colour {
	background-color: #BD61A2;
	background-color: #974d81;
	background-color: #713a61;
	
	background-color: #CC3838;
	background-color: #8e2727;


	background-color: #A83AC4;
	background-color: #752989;
	background-color: #531d62;

	background-color: #7c77cd;
	background-color: #3C46A2;
	background-color: #272E6A;


	background-color: #6A9C89;
	background-color: #547c6d;

	background-color: #BE5858;
	background-color: #984646;

	background-color: #272E6A;
	background-color: #3C46A2;

	/*adminbutton*/
	background-color: #B33A3A;
	background-color: #913030;
	background-color: #2E8967;
	background-color: #1F674C;
	background-color: #4B4F9F;
	background-color: #3A3D7A;

	
	background-color: #272E6A;
	background-color: #3C46A2;

}